{% extends "layout.html" %}
{% block title %}
Transaction History
{% endblock %}

{% block main %}
    {% if  len != 0%}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">S/N</th>
                    <th scope="col">Title</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                {%for n in num%}
                <tr>
                <td>{{n + 1}}</td>
                <td>{{titles[n]}}</td>
                <td>{{values[n]}}</td>
                <td>{{dates[n]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3 style="color: chartreuse;">No Transaction History to display</h3>
    {%endif%}
{% endblock %}