{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <!--the user submits the form after entering his username, old password and new password, then confirming it. This changes his password-->
    <form action="/password_change" method="post">
        <div class="form-group">
            <input onkeypress="return alpha(event)" autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input onkeypress="return alpha(event)" class="form-control" name="old_password" placeholder="Old Password" type="password">
        </div>
        <div class="form-group">
            <input onkeypress="return alpha(event)" class="form-control" id="new_password"name="new_password" placeholder="New Password" type="password">
        </div>
        <div class="form-group">
            <input onkeypress="return alpha(event)" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" id ="submit" type="submit">Change password</button>
    </form>
        <!--the script below disables the submit button until the user confirms their password-->
    <script>
        document.querySelector('#confirm_password').onkeyup = function() {
            if (document.querySelector('#confirm_password').value === document.querySelector('#new_password').value) {
                document.querySelector('#submit').disabled = false;
            } else {
                document.querySelector('#submit').disabled = true;
            }
        }
        function alpha(e) {
            var k;
            document.all ? k = e.keyCode : k = e.which;
            return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 8 || k == 32 || (k >= 48 && k <= 57));
        }
    </script>
{% endblock %}
